<!-- import components -->
<div app-box-one></div>
<app-box-two></app-box-two>
<div class="app-box-three"></div>

<app-interpolation></app-interpolation>

<app-binding-property></app-binding-property>

<app-class-binding></app-class-binding>

<app-style-binding></app-style-binding>

<app-event-binding></app-event-binding>

<app-template-reference></app-template-reference>

<app-two-way-binding></app-two-way-binding>

<app-ng-if-directives></app-ng-if-directives>

<app-ng-switch-directives></app-ng-switch-directives>

<app-ng-for-directives></app-ng-for-directives>

<app-component-interaction [parentData]="name"></app-component-interaction>


